.card {
  display: flex;
  flex-flow: column wrap;
  padding: 1em 1.5em;
  background: white;
  border: 1px solid #e4e4e4;
  .card-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #423d54;
  }
  .card-body {
    flex: 1;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    color: #423d54;
    span {
      font-size: 0.7em;
    }
  }
  .card-image {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 20px #e4e4e4;
    color: #6a7e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 2em;
      height: 2em;
    }
  }
  .card-text {
    margin-right: 10px;
  }
}
